OAUTH_BASE_URL=https://ims-na1.adobelogin.com/ims/token/
IO_MANAGEMENT_BASE_URL=https://api.adobe.io/events/

# OAuth configs
# Values required for Adobe Commerce SaaS Rest Authorization.

# The following values can be copied from the Credential details page in AppBuilder under Organization > Project > Workspace > OAuth Server-to-Server
# Client ID
OAUTH_CLIENT_ID=
# Client Secret (Retrieve Client Secret)
OAUTH_CLIENT_SECRET=
# Technical Account ID
OAUTH_TECHNICAL_ACCOUNT_ID=
# Technical Account Email
OAUTH_TECHNICAL_ACCOUNT_EMAIL=
# Organization ID
OAUTH_ORG_ID=
OAUTH_SCOPES=AdobeID, openid, read_organizations, additional_info.projectedProductContext, additional_info.roles, adobeio_api, read_client_secret, manage_client_secrets, event_receiver_api

# Commerce OAuth configs. PaaS Only. Required for authorization of Adobe Commerce Rest Apis.
# These values can be copied from the Integration Details under System > Integrations
# Commerce base URL should finish with slash '/'. Example: https://adobe.commerce/rest/
COMMERCE_BASE_URL=
# Select Integration you created and copy values from "Integration Details"
COMMERCE_CONSUMER_KEY=
COMMERCE_CONSUMER_SECRET=
COMMERCE_ACCESS_TOKEN=
COMMERCE_ACCESS_TOKEN_SECRET=

# Commerce Event Module configs
# These values will be used to configure the Adobe I/O Events module automatically
# that can be found at Stores > Configuration > Adobe Services > Adobe I/O Events
COMMERCE_ADOBE_IO_EVENTS_MERCHANT_ID=
# Default value is Stage. You can change it for your usecases if needed.
COMMERCE_ADOBE_IO_EVENTS_ENVIRONMENT_ID=Stage

# Workspace configs
# The following values can be copied from the JSON downloadable in AppBuilder from Organization > Project > Workspace
# IO_CONSUMER corresponds to project.org.id
# IO_PROJECT_ID corresponds to project.id
# IO_WORKSPACE_ID corresponds to project.workspace.id
IO_CONSUMER_ID=
IO_PROJECT_ID=
IO_WORKSPACE_ID=

# HUBSPOT CONFIG
# To retrieve that value go to Account Management > Integrations > Private app and Access token section
HUBSPOT_ACCESS_TOKEN=

# Adobe Commerce customer custom attribute code, which will be used to save Hubspot Customer ID, so in case if customer already being exported to Hubspot, system will perform Update and not Create action
COMMERCE_HUBSPOT_CONTACT_ID_FIELD=

#HUBSPOT CONTACT FULL IMPORT CONFIG, related with the runtime action customer-backoffice/full-import
# Adobe Commerce Group ID for customers. (1 - General Group)
HUBSPOT_FULL_IMPORT_CONTACT_GROUP_ID=

# Adobe Commerce Website Code to import
HUBSPOT_FULL_IMPORT_CONTACT_WEBSITE=

